<div id="wrapper">
    <div class="contactbg">

        <div class="innertitle">
            <div class="row">
                <h1>How can we help you?</h1>
                <p>
                    <p style="text-align:center;">Have a question? Send us a note using the form below and someone
                        <br/>from the Smooth Flow team will be in touch soon.</p>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="innercontent">
                <div class="form">
                    <div class="contact-info">
                        <div class="email block">
                            <h3>Email Us</h3>
                            <a href="mailto:support@smoothflow.io"> support@smoothflow.io </a> </div>
                        <div class="address block">
                            <h3>We are located at</h3>
                            170 S Green Valley Parkway, <br/> Suite 300, Henderson, <br/> Nevada 89012 </div>
                        <div class="phone block">
                            <h3>Call us</h3>
                            <a href="tel:+18705056540">+1 870-505-6540</a> </div>
                    </div>
                    <div class="contact-form">
                        <input ng-model="Emaildetails.name" type="text" name="text-403" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required contact-form-name"
                            aria-required="true" aria-invalid="false" placeholder="Your Name..." />
                        <input ng-model="Emaildetails.email" type="email" name="email-404" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email contact-form-email"
                            aria-required="true" aria-invalid="false" placeholder="Your email address..." />
                        <input ng-model="Emaildetails.subject" type="text" name="text-405" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required contact-form-subject"
                            aria-required="true" aria-invalid="false" placeholder="Subject..." />
                        <textarea ng-model="Emaildetails.body" name="textarea-121" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required contact-form-message"
                            aria-required="true" aria-invalid="false" placeholder="Write a message..."></textarea>
                        <div align="center">
                            <input type="button" ng-disabled="isSend" ng-click="sendMailContact(Emaildetails)" value="Send Message" class="wpcf7-form-control wpcf7-submit submit" />
                        </div>
                        </div>
                    <div class="wpcf7-response-output wpcf7-display-none">

                    </div>
                </div>
            </div>
        </div>


    </div>