<div id="wrapper">

	<div class="innertitle" data-sr="enter bottom and move 50px over 0.5s">
		<div class="row">
			<h1>How it works</h1>
		</div>
	</div>
	<div class="innercontent">
		<div class="vc_row wpb_row vc_row-fluid inner">
			<div class="wpb_column vc_column_container vc_col-sm-12">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper">
						<div class="wpb_text_column wpb_content_element  topic">
							<div class="wpb_wrapper highlight-green-light">
								<h2>What is workflows?</h2>
								<i class="definition">"The sequence of industrial, administrative, or other processes through which a piece of work passes from initiation to completion"</i>

							</div>
						</div>

						<div class="wpb_text_column wpb_content_element  topic">
							<div class="wpb_wrapper">
								<h2>Facts</h2>
								<ul>
									<li>As the business expands these processes turn out to be laborious and require constant maintenance.</li>
									<li>Immediate benefits include automation, better visibility, and improved efficiency.</li>
									<li>It is a concept that is helping organizations manage complex tasks efficiently with greater accuracy and faster
										execution time.</li>
								</ul>

							</div>
						</div>

						<div class="wpb_text_column wpb_content_element  topic">
							<div class="wpb_wrapper">
								<h2>Importance of workflows</h2>
								<ul>
									<li>Process customizations are easy</li>
									<li>Can have several unique processes</li>
									<li>Choice of tools depend on tasks at hand</li>
									<li>Created a single platform for customers of multiple institutions to access</li>
									<li>At glance it’s easy to understand the process rather going through entire code</li>
									<li>It is possible to perform more complicated operations which will not reflect or hassle for frontend</li>
									<li>Institutions are able to develop their own e-services from the scratch even with little programming background.</li>
									<li>Flows used for adopting processes as well as forms</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="vc_row wpb_row vc_row-fluid inner topic">
			<div class="wpb_column vc_column_container vc_col-sm-12">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper">
						<div class="wpb_text_column wpb_content_element topic">
							<div class="wpb_wrapper">
								<h2>Videos</h2>

							</div>
						</div>
						<div class="vc_row wpb_row vc_inner vc_row-fluid">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner ">
									<div class="wpb_wrapper video_column">
										<div class="wpb_text_column wpb_content_element  vc_custom_1479210498035">
											<div class="wpb_wrapper">
												<p>
													<iframe width="450" height="253" src="https://www.youtube.com/embed/1eW3sPXDrDc?feature=oembed" frameborder="0" allowfullscreen></iframe>
												</p>

											</div>
										</div>

										<div class="wpb_text_column wpb_content_element  vc_custom_1479210506166">
											<div class="wpb_wrapper">
												<p>
													<iframe width="450" height="253" src="https://www.youtube.com/embed/qq3wGSp6wOE?feature=oembed" frameborder="0" allowfullscreen></iframe>
												</p>

											</div>
										</div>

										<div class="wpb_text_column wpb_content_element  vc_custom_1479210514345">
											<div class="wpb_wrapper">
												<p>
													<iframe width="450" height="253" src="https://www.youtube.com/embed/kgLsVjmapKY?feature=oembed" frameborder="0" allowfullscreen></iframe>
												</p>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="highlight-blue">
            <div class="vc_row wpb_row vc_row-fluid inner">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element topic">
                                <div class="wpb_wrapper">
                                    <h2>Tutorials</h2>
                                    <div class="row pos-rel">
                                        <div class="large-3 columns">
                                            <ul class="pdf">
                                                <li ng-repeat="tute in tutePDFUrls"><a ng-click="setUrlForTutePDF(tute)" href="" ng-style="selectedTute == tute.name ? {'font-weight':'bold','color':'#fff'} : null">{{tute.name}}</a></li>
                                            </ul>
                                        </div>
                                        <div class="large-9 columns" style="margin: 7% 0;">
                                            <div class="pdf-loading">
                                                <img src="assets/images/pdf1600.png" alt="PDF reader">
                                                <div class="text-center">
                                                    <small>Select a tutorial to view</small>
                                                </div>
                                            </div>
                                            <div class="PDF" ng-if="pdfLoading">
                                                <object data="{{activeTutePDFUrl}}" type="application/pdf">
                                                </object>
                                            </div>
                                            <!--<iframe src="http://www.smoothflow.io/wp-content/uploads/2016/11/Configurations.pdf" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html"></iframe>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

	<div ng-include="'include.footer.pre.description.html'"></div>
</div>